@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.LendaSwap.Plugins.Swap
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a layout-menu-item="@nameof(LendaSwapNavPages.Swaps)" asp-controller="UILendaSwap" asp-action="SwapList" asp-route-storeId="@storeId">
            <svg class="icon" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="17 1 21 5 17 9"></polyline>
                <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                <polyline points="7 23 3 19 7 15"></polyline>
                <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
            </svg>
            <span text-translate="true">LendaSwap</span>
        </a>
        @if (ViewData.IsCategory(nameof(LendaSwapNavPages)))
        {
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(LendaSwapNavPages.Send)" asp-controller="UILendaSwap" asp-action="Send" asp-route-storeId="@storeId"
                   text-translate="true">Send</a>
            </li>
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(LendaSwapNavPages.Receive)" asp-controller="UILendaSwap" asp-action="Receive" asp-route-storeId="@storeId"
                   text-translate="true">Receive</a>
            </li>
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(LendaSwapNavPages.Swaps)" asp-controller="UILendaSwap" asp-action="SwapList" asp-route-storeId="@storeId"
                   text-translate="true">Swaps</a>
            </li>
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(LendaSwapNavPages.Settings)" asp-controller="UILendaSwap" asp-action="Settings" asp-route-storeId="@storeId"
                   text-translate="true">Settings</a>
            </li>
        }
    </li>
}
